    </div>
    <div class="footer">
      {{#if institucion}}
        <p><strong>{{institucion.nombre}}</strong></p>
        {{#if institucion.direccion}}<p>{{institucion.direccion}}</p>{{/if}}
        {{#if institucion.telefono}}<p>Tel: {{institucion.telefono}}</p>{{/if}}
        <br>
      {{/if}}
      <p>&copy; {{year}} Plataforma Algoritmia. Todos los derechos reservados.</p>
      <p>Este es un correo automático, por favor no respondas a esta dirección.</p>
    </div>
  </div>
  </div>
</body>
</html>
