<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Algoritmia</title>
  {{> styles }}
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="header">
        <h1>
          Algoritmia
        </h1>
        {{#if emailTitle}}<div class="header-subtitle">{{emailTitle}}</div>{{/if}}
      </div>
      <div class="content">
